APP_NAME=server-orchestration
APP_DISPLAY_NAME=Система мониторинга
APP_TZ=Europe/Moscow
APP_PUBLIC_BASE_URL=http://192.168.5.22:18080

POSTGRES_DB=orchestrator
POSTGRES_USER=orchestrator
POSTGRES_PASSWORD=CHANGE_ME

BACKEND_BIND_IP=192.168.5.22
BACKEND_PORT=18080
