APP_NAME=server-orchestration
APP_TZ=UTC

POSTGRES_DB=orchestrator
POSTGRES_USER=orchestrator
POSTGRES_PASSWORD=CHANGE_ME

BACKEND_IMAGE=ghcr.io/messirel/serverorchestration-backend:0.1.2
BACKEND_BIND_IP=127.0.0.1
BACKEND_PORT=18080
